<div class="container">
	<dic class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<h1><%= @product.name %></h1>
			<p><%= @product.description %></p>
			<a href="<%= @product.url %>" target="_blanck">¡Obtenlo!</a>
		</div>
	</dic>
</div>